#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: blueviolet;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* Navbar styles */
.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  color: white;
  text-decoration: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* CartPage and FavoritesPage styles */
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cart-item, .favorite-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
}

.cart-item img, .favorite-item img {
  width: 100%;
  height: auto;
}

.details {
  text-align: left;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: white;
}

.favorite-container, .cart-container {
  display: flex;
  align-items: center;
}

.header-icon {
  width: 24px;
  height: 24px;
}

.favorite-count, .cart-count {
  margin-left: 5px;
  font-size: 1.2em;
  color: red;
}


