.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #f5f5f5;
}

.favorite-container {
  position: relative;
  display: flex;
  align-items: center;
}

.header-icon {
  width: 24px;
  height: 24px;
}

.favorite-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}
